<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      	xmlns:p="http://primefaces.org/ui"
      	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>rule</title>
</h:head>
<h:body>
	<ui:composition template="/faces/layout.xhtml">
	<ui:define name="content">
	<h:form id="rule">
 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />

<p:panel   header="Add Rule">
<p:panelGrid columns="2">
<p:row>
<p:column>
 <h:outputText value="Rule Name:"/>
<h:inputText value="#{addRule.ruleName}" />

 
</p:column>
</p:row>
<p:row>
<p:column>

 <h:outputText value="Day:"/>
  <p:selectOneMenu id="day" value="#{addRule.ruleCondition}" style="width:150px">
                <f:selectItem itemLabel="Select Status" itemValue="" noSelectionOption="true" />
                <f:selectItem itemLabel="Monday" itemValue="Monday"  />
                <f:selectItem itemLabel="Tuesday" itemValue="Tuesday"  />
                <f:selectItem itemLabel="Wednesday" itemValue="Wednesday" />
                <f:selectItem itemLabel="Thursday" itemValue="Thursday"  />
                <f:selectItem itemLabel="Friday" itemValue="Friday" />
                <f:selectItem itemLabel="Saturday" itemValue="Saturday" />
                 <f:selectItem itemLabel="Sunday" itemValue="Sunday" />
            </p:selectOneMenu>
  </p:column>
  </p:row>
<p:row>
  <p:column>

 <h:outputText value="Rule Status:"/>
 <p:selectOneMenu id="status" value="#{addRule.ruleStatus}" style="width:150px">
                <f:selectItem itemLabel="Select Status" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{rule.status}" />
            </p:selectOneMenu>

  </p:column>	
  </p:row>
<p:row>
  <p:column>

 <h:outputText value="Menu:"/>
  <p:selectOneMenu id="menu" value="#{addRule.ruleAction}" style="width:150px">
                <f:selectItem itemLabel="Select Menu" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{addRule.menuMap}" />
            </p:selectOneMenu>
  </p:column>
  </p:row>
<p:row>
  <p:column>
  
      <p:commandButton process="rule" action="#{addRule.addRule}" value="Add Rule"/>
            
  </p:column>
</p:row>
</p:panelGrid>
</p:panel>

</h:form>
	
	</ui:define>
	</ui:composition>
</h:body>
</html>