<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Registration</title>
</h:head>
<h:body>
	<ui:composition template="/faces/layout.xhtml">
	<ui:define name="content">
	<h:form>
	<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
	<p:panel header="Customer Registration">
	
<p:panelGrid columns="2">
<p:row><p:column>
		<h:inputHidden id="customerCode" value="#{registration.customerCode}"  >
        </h:inputHidden>
		<h:message for="customerCode"></h:message></p:column></p:row>
		
		
	<p:row><p:column>	<h:outputText value="Username:" /></p:column><p:column>
		<h:inputText id="username" value="#{registration.userName}" required="true"></h:inputText>
		<h:message for="username"></h:message>
		</p:column></p:row>
		
		<p:row><p:column>	<h:outputText value="Password:" /></p:column><p:column>
		<h:inputSecret id="password" value="#{registration.password}" required="true"></h:inputSecret>
		<h:message for="password"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="Confirm Password:" /></p:column><p:column>
		<h:inputSecret id="confirmPassword" value="#{registration.password}" required="true"></h:inputSecret>
		<h:message for="confirmPassword"></h:message>
		</p:column></p:row>
		
			<p:row><p:column><h:outputText value="First Name:" /></p:column><p:column>
		<h:inputText id="firstName" value="#{registration.firstName}"></h:inputText>
		<h:message for="firstName"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="Last Name:" /></p:column><p:column>
		<h:inputText id="lastName" value="#{registration.lastName}"></h:inputText>
		<h:message for="lastName"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="Middle Name:" /></p:column><p:column>
		<h:inputText id="middleName" value="#{registration.middleName}"></h:inputText>
		<h:message for="middleName"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="Gender:" /></p:column><p:column>
		<h:selectOneMenu value="#{registration.gender}">
   		<f:selectItem itemValue="Male" itemLabel="Male" />
   		<f:selectItem itemValue="Female" itemLabel="Female" />
		</h:selectOneMenu>
		<h:message for="gender"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="Mobile Number:" /></p:column><p:column>
		<h:inputText id="mobileNumber" value="#{registration.mobileNumber}"></h:inputText>
		<h:message for="mobileNumber"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="Address Line1:" /></p:column><p:column>
		<h:inputText id="addressLine1" value="#{registration.addressLine1}"></h:inputText>
		<h:message for="addressLine1"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="Address Line2:" /></p:column><p:column>
		<h:inputText id="addressLine2" value="#{registration.addressLine2}"></h:inputText>
		<h:message for="addressLine2"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="Address Line3:" /></p:column><p:column>
		<h:inputText id="addressLine3" value="#{registration.addressLine3}"></h:inputText>
		<h:message for="addressLine3"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="Email:" /></p:column><p:column>
		<h:inputText id="email" value="#{registration.email}"></h:inputText>
		<h:message for="email"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="City:" /></p:column><p:column>
		<h:inputText id="city" value="#{registration.city}"></h:inputText>
		<h:message for="city"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="State:" /></p:column><p:column>
		<h:inputText id="state" value="#{registration.state}"></h:inputText>
		<h:message for="state"></h:message>
		</p:column></p:row>
		
		<p:row><p:column><h:outputText value="Zip Code:" /></p:column><p:column>
		<h:inputText id="zipCode" value="#{registration.zipCode}"></h:inputText>
		<h:message for="zipCode"></h:message>
		</p:column></p:row>
	
		<p:row><p:column>	<h:commandButton action="#{registration.registration}"
			value="Registration" ></h:commandButton></p:column></p:row>
			
	</p:panelGrid>
	</p:panel>
	</h:form>
	</ui:define>
	</ui:composition>
</h:body>
</html>