<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>

</h:head>
<h:body>
<ui:composition>
<p:panelGrid columns="1">
	<h:form>
  <p:menubar rendered="#{login.loggedIn}" style="zIndex: 9999">
		<p:submenu label="Menu" rendered="#{login.hotelLoggedIn}">
			<p:menuitem value="Add Menu" url="/faces/menu.xhtml"></p:menuitem>
			<p:menuitem value="Search Menu" url="/faces/searchMenu.xhtml"></p:menuitem>
			
		</p:submenu>
			<p:submenu label="Order" >
			<p:menuitem value="Order" url="/faces/order.xhtml" rendered="#{!login.hotelLoggedIn}"></p:menuitem>
			<p:menuitem value="View Order" url="/faces/viewOrder.xhtml" rendered="#{login.hotelLoggedIn}"></p:menuitem>
			<p:menuitem value="SearchOrder" url="/faces/searchOrder.xhtml" rendered="#{login.hotelLoggedIn}"></p:menuitem>
		
		</p:submenu>
			<p:submenu label="Rule" rendered="#{login.hotelLoggedIn}">
			<p:menuitem value="Add Rule" url="/faces/addRule.xhtml"></p:menuitem>
			<p:menuitem value="Edit Rule" url="/faces/rule.xhtml"></p:menuitem>
			
		</p:submenu>
		<p:submenu label="Help">
			<p:menuitem value="About Us"></p:menuitem>
			<p:menuitem value="Contact Us"></p:menuitem>
			<p:separator/>
			<p:menuitem value="Help"></p:menuitem>
		</p:submenu>
		     <f:facet name="options">
            <p:inputText style="margin-right:10px" placeholder="Search"/>
            <p:commandButton type="button" value="Logout" action="#{login.logout}" icon="ui-icon-extlink" />
        </f:facet>
	</p:menubar>
</h:form>
	</p:panelGrid>
	</ui:composition>
</h:body>
</html>