<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Item</title>
</h:head>
<h:body>
<ui:composition template="/faces/layout.xhtml">
	<ui:define name="content">
<h:messages globalOnly="true" />
<p:panelGrid columns="2" cellpadding="5">
<h:form>
<ul>

		
		<li>
		<h:outputText value="Item Name" />
		<h:inputText id="itemName" value="#{item.itemName}"></h:inputText>
		<h:message for="itemName"></h:message>
		<h:outputText value="    " escape="false" />
		<h:outputText value="    " escape="false" />
		<h:outputText value="    " escape="false" />
		<h:outputText value="Item Price" />
		<h:inputText id="itemPrice" value="#{item.itemPrice}"></h:inputText>
		<h:message for="itemPrice" ></h:message>
		</li>
		<li>
		<p:commandButton action="#{item.addItem}"
			value="Add Item"  oncomplete=""></p:commandButton>
			</li>
			
		</ul>	
	</h:form>

</p:panelGrid>
</ui:define>
</ui:composition>
</h:body>
</html>