<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      	xmlns:p="http://primefaces.org/ui"
      	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
<style>
#menu_panel {
    z-index: 1 !important;
    overflow: visible;
}
</style>
</h:head>
<h:body>
<pe:layout fullPage="true">
    <pe:layoutPane id="menu_panel" position="north" size="100">
        <ui:insert name="header" >
	<ui:include src="/faces/header.xhtml"></ui:include>
</ui:insert>
    </pe:layoutPane>
   <pe:layoutPane position="center">
   <ui:insert name="content" >
	<ui:include src="/faces/login.xhtml"></ui:include>
</ui:insert>
    </pe:layoutPane>
       <pe:layoutPane position="south" size="50">
      <ui:insert name="footer" >
	<ui:include src="/faces/footer.xhtml"></ui:include>
</ui:insert>
    </pe:layoutPane>
    </pe:layout>




</h:body>
</html>