<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>login</title>
</h:head>
<h:body>
	<ui:composition>

<p:panel header="Login">
		<p:panelGrid columns="2" >
			
			<h:form>
 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
				<h:outputText value="Username: "/>
				<h:inputText id="username" value="#{login.userName}" required="true"></h:inputText>
				<h:message for="username"></h:message>
				<br></br>
				<br></br>

				<h:outputText value="Password: " />
				<h:inputSecret id="password" value="#{login.password}" required="true"></h:inputSecret>
				<h:message for="password"></h:message>
				<br></br>
				<br></br>

				<h:commandButton action="#{login.validateUser}" value="Login"></h:commandButton>
				<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
				<h:commandButton action="#{login.customerRegistration}"
					value="Customer Registration"></h:commandButton>
				<h:outputText value="           " escape="false" />
				<h:outputText value="           " escape="false" />
				<h:outputText value="            " escape="false" />
				<h:commandButton action="#{login.hotelRegistration}"
					value="Hotel Registration"></h:commandButton>


			</h:form>
		</p:panelGrid>
</p:panel>
	</ui:composition>
</h:body>
</html>