<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">
<h:head>

</h:head>
<h:body>
<ui:composition template="/faces/layout.xhtml">
	<ui:define name="content">

<h:form id="menu">
 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
 <p:panelGrid columns="1">
 <p:dataTable var="itms" value="#{menu.itemList}" rows="5" paginator="true">
            <f:facet name="header">
         <h:outputText value="Menu Name:" />
		<h:inputText id="menuName" value="#{menu.menuName}" required="true"></h:inputText>
         </f:facet>
 
            <p:column headerText="Item Name">
               <h:inputText id="itemName" value="#{itms.itemName}"></h:inputText>
            </p:column>
 
            <p:column headerText="Item Price">
                <h:inputText id="itemPrice" value="#{itms.itemPrice}"></h:inputText>
            </p:column>
 <p:column>

 <h:outputText value="Item Status:"/>
  <p:selectOneMenu id="itemStatus" value="#{itms.itemStatus}" style="width:150px">
                <f:selectItem itemLabel="Select Status" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{menu.status}" />
            </p:selectOneMenu>
  </p:column>
         <f:facet name="footer">
         <p:commandButton action="#{menu.addMenu}"	value="Add Item to Menu"></p:commandButton>
         </f:facet>
        </p:dataTable>
 
 
	

</p:panelGrid>
	</h:form>
 </ui:define>
</ui:composition>
</h:body>
</html>