<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Item</title>
</h:head>
<h:body>
	<ui:composition template="/faces/layout.xhtml">
	<ui:define name="content">
<h:form id="order">
 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
<p:panel   header="Search Order">
<p:panelGrid id="searchOrder" coulmns="2" >
<p:row>
<p:column>
 <h:outputText value="Hotel Name:" />
		<h:inputText id="hotelName" value="#{order.hotelName}"></h:inputText>
		<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
		
		<p:commandButton action="#{order.searchMenu}"
			 update=":order:orderTab"  icon="ui-icon-search"></p:commandButton>
</p:column>
</p:row>

</p:panelGrid> 



</p:panel>
<p:panelGrid columns="2">
	<p:dataTable id="orderTab" value="#{order.itemList}" var="itm" selection="#{order.selectedItems}" rowSelectMode="checkbox" rowKey="#{itm.itemId}" rows="5" paginator="true">
      
        <p:column selectionMode="multiple" style="width:16px;text-align:center" />
        <!-- <p:column headerText="Item Id">
    			 <h:outputText value="#{itm.itemId}"/>
    			
    			</p:column> -->
    			<p:column headerText="Item Name">
    			 <h:outputText value="#{itm.itemName}"/>
    			
    			</p:column>

    			<p:column headerText="Item Price">
    				  <h:outputText value="#{itm.itemPrice}"/>
    			</p:column>
				<p:column headerText="Quantity">
    				<h:inputText id="itemQuantity" value="#{itm.itemQuantity}">
    				<p:ajax listener="#{order.caluclateOrderTotal}" update=":order:orderTotal" process="orderTab"></p:ajax>
    				</h:inputText>
					<h:message for="itemQuantity"></h:message>
    			</p:column>
    			<p:column headerText="Item Status">
    				  <h:outputText value="#{itm.itemStatus}"/>
    			</p:column>
    <f:facet name="footer">
            <p:commandButton process="orderTab" action="#{order.placeOrder}" value="Place order">
            
            </p:commandButton>
        </f:facet>
    		</p:dataTable>
    		
        <p:outputPanel  >
        	<h:outputText value="Order Total:" />
                <h:outputText id="orderTotal" value="#{order.orderTotal}"/>
				    <h:outputLink value="viewPlacedOrder.xhtml" title="View Order" >
				        <h:outputText value="View Order" />
				    </h:outputLink>
        </p:outputPanel>
    		
   
    		
</p:panelGrid>

    			</h:form>
</ui:define>
</ui:composition>
</h:body>
</html>