<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      	xmlns:p="http://primefaces.org/ui"
      	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>rule</title>
</h:head>
<h:body>
	<ui:composition template="/faces/layout.xhtml">
	<ui:define name="content">
	<h:form id="rule">
 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
<p:panel   header="Search Rule">
<p:panelGrid id="searchRule" coulmns="2" >
<p:row>
<p:column>
 <h:outputText value="Rule Name:" />
		<h:inputText id="searchRuleName" value="#{rule.searchRuleName}"></h:inputText>
		<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
		
		<h:commandButton action="#{rule.searchRule}" value="Search" update=":rule:editRule"></h:commandButton>
</p:column>
</p:row>

</p:panelGrid> 



</p:panel>

<p:panel   header="Edit Rule">
<p:panelGrid id="editRule" coulmns="2" >
<p:row>
<p:column>
	 <h:outputText value="Rule Id:"/>
</p:column>
<p:column>
 <h:outputText value="#{rule.selectedRule.ruleId}" rendered="#{rule.selectedRule != null}"/>
</p:column>
</p:row>
<p:row>
<p:column>
	 <h:outputText value="Rule Name:"/>
</p:column>
<p:column>
 <h:outputText value="#{rule.selectedRule.ruleName}" rendered="#{rule.selectedRule != null}"/>
</p:column>
</p:row>
<p:row>
 <p:column>

 <h:outputText value="Rule Status:"/>
  </p:column>
  <p:column>

 <p:selectOneMenu id="editStatus" value="#{rule.selectedRule.ruleStatus}" style="width:150px"  rendered="#{rule.selectedRule != null}">
                <f:selectItem itemLabel="Select Status" itemValue="" noSelectionOption="true" />
                 <f:selectItems value="#{rule.status}" />
            </p:selectOneMenu>
  </p:column>		
  </p:row>
 <p:row>
<p:column>
	 <h:outputText value="Rule Condition:"/>
</p:column>
<p:column>
 <h:outputText value="#{rule.selectedRule.ruleCondition}" rendered="#{rule.selectedRule != null}"/>
</p:column>
</p:row>
 <p:row>
<p:column>
	 <h:outputText value="Rule Action:"/>
</p:column>
<p:column>
 <h:outputText value="#{rule.selectedRule.ruleAction}" rendered="#{rule.selectedRule != null}"/>
</p:column>
</p:row>
 <p:row>
<p:column>



            	 <p:commandButton actionListener="#{rule.editRule}" value="Edit Rule"/>
</p:column>
        <p:column>



            	 <p:commandButton actionListener="#{rule.deleteRule}" value="Delete Rule"/>
</p:column>       
 
               </p:row>
</p:panelGrid> 



</p:panel>
</h:form>
	
	</ui:define>
	</ui:composition>
</h:body>
</html>