<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>Item</title>
</h:head>
<h:body>
<ui:composition template="/faces/layout.xhtml">
	<ui:define name="content">
<h:form id="menu">
<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
<p:panel   header="Edit Item">
<p:panelGrid id="editItem" coulmns="2" >
<p:row>
<p:column>
	 <h:outputText value="Item Id:"/>
 <h:outputText value="#{searchMenu.itemId}" rendered="#{searchMenu.itemId != null}"/>
</p:column>
 <p:column>

 <h:outputText value="Item Name:"/>
  <h:inputText value="#{searchMenu.itemName}" rendered="#{searchMenu.itemName != null}">
   <p:ajax  listener="#{searchMenu.itemNameChanged}" update=":menu:changedItemName" process="editItem"></p:ajax>
 
  </h:inputText>
<!--   <h:inputHidden id="out1" value="#{searchMenu.selectedItem.itemName}" rendered="#{searchMenu.selectedItem != null}"></h:inputHidden>
 --> 
  </p:column>	
  <p:column>
 <h:outputText value="Item Price:"/>
<h:inputText value="#{searchMenu.itemPrice}"  rendered="#{searchMenu.itemPrice != null}">  <p:ajax listener="#{searchMenu.itemPriceChanged}" update=":menu:changedItemPrice" process="editItem"></p:ajax>

 
  </h:inputText>
  <!-- <h:inputHidden id="out2" value="#{searchMenu.selectedItem.itemPrice}" rendered="#{searchMenu.selectedItem != null}"></h:inputHidden> -->
</p:column>
<p:column>

 <h:outputText value="Item Status:"/>
  <p:selectOneMenu id="itemStatus" value="#{searchMenu.itemStatus}" style="width:150px">
                <p:ajax listener="#{searchMenu.onStatusChange}" update="changedItemStatus" />
                <f:selectItem itemLabel="Select Status" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{searchMenu.status}" />
            </p:selectOneMenu>
  </p:column>
<p:column>



            	 <p:commandButton actionListener="#{searchMenu.editItem}" value="Edit"/>
</p:column>
               
 
               </p:row>
</p:panelGrid> 

<p:outputPanel  >
        	<h:outputText value="Item Name:" />
                <h:outputText id="changedItemName" value="#{searchMenu.itemName}"/>
                <h:outputText value="Item Price:" />
                <h:outputText id="changedItemPrice" value="#{searchMenu.itemPrice}"/>
                 <h:outputText value="Item Status:" />
                <h:outputText id="changedItemStatus" value="#{searchMenu.itemStatus}"/>
	                
        </p:outputPanel>

</p:panel>

<p:panelGrid columns="2">
	<p:dataTable id="menuTab" value="#{searchMenu.itemList}" var="itm"   selection="#{searchMenu.selectedItem}" rowKey="#{itm.itemId}" rows="5" paginator="true">
        <f:facet name="header">
           <h:outputText value="Hotel Name:" />
		<h:inputText id="hotelName" value="#{searchMenu.hotelName}"></h:inputText>
		<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
		<h:outputText value="Menu Name:" />
		<h:inputText id="menuName" value="#{searchMenu.menuName}"></h:inputText>
		<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
		<p:outputLabel for="dateFrom" value="Date From:" />
        <p:calendar id="dateFrom" value="#{searchMenu.dateFrom}" showOn="button" />
        <h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
        <p:outputLabel for="dateTo" value="Date To:" />
        <p:calendar id="dateTo" value="#{searchMenu.dateTo}" showOn="button" />
        <h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
		<h:commandButton action="#{searchMenu.searchMenu}"
			value="Search" ></h:commandButton>
        </f:facet>
        <p:ajax event="rowSelect" listener="#{searchMenu.updateItem}"></p:ajax>
        <p:column selectionMode="single" style="width:16px;text-align:center" />
       <p:column style="width:16px">
            <p:rowToggler/>
        </p:column>
        <p:column headerText="Item Id">
    			 <h:outputText value="#{itm.itemId}"/>
    			
    			</p:column>
    			<p:column headerText="Item Name">
    			 <h:outputText value="#{itm.itemName}"/>
    			
    			</p:column>

    			<p:column headerText="Item Price">
    				  <h:outputText value="#{itm.itemPrice}"/>
    			</p:column>
    			<p:column headerText="Item Status">
    				  <h:outputText value="#{itm.itemStatus}"/>
    			</p:column>
			<p:rowExpansion>
            <p:panelGrid  columns="2" >
              
 
               <p:commandButton value="Update Item" update=":menu:editItem" actionListener="#{searchMenu.updateEditItem}"/>
               
                <p:commandButton actionListener="#{searchMenu.deleteItem}" value="Delete"/>
               
              
         
            </p:panelGrid>
        </p:rowExpansion>
    		
		
    		</p:dataTable>
    		
    		
   
    		
</p:panelGrid>
<p:panel header="Add Item">
<p:panelGrid id="addItem" coulmns="2" >
<p:row>

 <p:column>

 <h:outputText value="Item Name:"/>
  <h:inputText value="#{searchMenu.addItemName}" >
   <p:ajax  listener="#{searchMenu.itemNameToAdd}" update=":menu:addItemNameChanged" process="addItem"></p:ajax>
 
  </h:inputText>

  </p:column>	
  <p:column>
 <h:outputText value="Item Price:"/>
<h:inputText value="#{searchMenu.addItemPrice}" >
  <p:ajax listener="#{searchMenu.itemPriceToAdd}"  update=":menu:addItemPriceChanged" process="addItem"></p:ajax>
 
  </h:inputText>
</p:column>
<p:column>

 <h:outputText value="Item Status:"/>
  <p:selectOneMenu id="itemAddStatus" value="#{searchMenu.addItemStatus}" style="width:150px">
                <p:ajax listener="#{searchMenu.onAddStatusChange}" update="addItemStatusChanged" />
                <f:selectItem itemLabel="Select Status" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{searchMenu.status}" />
            </p:selectOneMenu>
  </p:column>
<p:column>


            	<p:commandButton process="addItem" value="Add Item" actionListener="#{searchMenu.addItem}"/>
</p:column>
               
 
               </p:row>
</p:panelGrid>
    <p:outputPanel  >
        	<h:outputText value="Item Name:" />
                <h:outputText id="addItemNameChanged" value="#{searchMenu.addItemName}"/>
                <h:outputText value="Item Price:" />
                <h:outputText id="addItemPriceChanged" value="#{searchMenu.addItemPrice}"/>
                <h:outputText value="Item Status:" />
                <h:outputText id="addItemStatusChanged" value="#{searchMenu.addItemStatus}"/>
	                
        </p:outputPanel>
</p:panel>
    

       		 </h:form>

</ui:define>
</ui:composition>
</h:body>
</html>