<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Item</title>
</h:head>
<h:body>
<ui:composition template="/faces/layout.xhtml">
	<ui:define name="content">
<h:form id="menu">
<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
<p:panel   header="Edit Order">
<p:panelGrid id="editOrder" coulmns="2" >
<p:row>
<p:column>
	 <h:outputText value="Order Id:"/>
 <h:outputText value="#{searchOrder.orderId}" rendered="#{searchOrder.orderId != null}"/>
</p:column>
 <p:column>

 <h:outputText value="Order Status:"/>
  <p:selectOneMenu id="orderStatus" value="#{searchOrder.orderStatus}" style="width:150px">
                <p:ajax listener="#{searchOrder.onStatusChange}" update="changedOrderStatus" />
                <f:selectItem itemLabel="Select Status" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{searchOrder.status}" />
            </p:selectOneMenu>
  </p:column>	
 

<p:column>



            	 <p:commandButton actionListener="#{searchOrder.editOrder}" value="Edit"/>
</p:column>
               
 
               </p:row>
</p:panelGrid> 

<p:outputPanel  >
        	
                <h:outputText value="Order Status:" />
                <h:outputText id="changedOrderStatus" value="#{searchOrder.orderStatus}"/>
	                
        </p:outputPanel>

</p:panel>
<p:panel   header="Search Order">
<p:panelGrid id="searchOrder" coulmns="2" >
<p:row>
<p:column>
 <p:outputLabel for="dateFrom" value="Date From:" />
        <p:calendar id="dateFrom" value="#{searchOrder.dateFrom}" showOn="button" />
        <h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
        <p:outputLabel for="dateTo" value="Date To:" />
        <p:calendar id="dateTo" value="#{searchOrder.dateTo}" showOn="button" />
        <h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
				<h:outputText value="          " escape="false" />
		<h:commandButton action="#{searchOrder.searchOrder}"
			value="Search" update=":menu:menuTab"  ></h:commandButton>
</p:column>
</p:row>

</p:panelGrid> 



</p:panel>

<p:panelGrid columns="2">
	<p:dataTable id="menuTab" value="#{searchOrder.orderList}" var="ord"   selection="#{searchOrder.selectedOrder}" rowSelectMode="checkbox"  rowKey="#{ord.orderId}" rows="5" paginator="true">
      
          <p:ajax event="rowSelect" listener="#{searchOrder.updateSelectedOrder}"></p:ajax>
          <p:column selectionMode="single" style="width:16px;text-align:center"/>
           <p:column style="width:16px">
              <p:rowToggler/>
        </p:column>
        <p:column headerText="Order Id">
    			 <h:outputText value="#{ord.orderId}"/>
    			
    			
		</p:column>
    				   <p:column headerText="Customer Name">
    			 <h:outputText value="#{ord.customer.person.firstName}"/> <h:outputText value="      "/>
    			 <h:outputText value="#{ord.customer.person.lastName}"/>
    			</p:column>
    				   <p:column headerText="Hotel Name">
    			 <h:outputText value="#{ord.hotel.hotelName}"/>
    			
    			</p:column>
    			 <p:column headerText="Order Total">
    			 <h:outputText value="#{ord.orderTotal}"/>
    			
    			
		</p:column>
    			<p:column headerText="Order Status">
    			 <h:outputText value="#{ord.orderStatus.orderStatusDesc}"/>
    			
    			</p:column>
    		
    			<p:rowExpansion>
            <p:panelGrid  columns="2" >
              
 
               <p:commandButton value="Update Order" update=":menu:editOrder" actionListener="#{searchOrder.updateEditOrder}"/>
               
              <p:commandButton value="View Order" update=":menu:viewOrderPanel" actionListener="#{searchOrder.viewOrder}"/>
            </p:panelGrid>
        </p:rowExpansion>
    		
		
    		</p:dataTable>
    		
    		
   
    		
</p:panelGrid>
<!-- <p:dialog header="View Order"  widgetVar="viewOrder" modal="true" resizable="true" appendTo="@(body)"> -->
<p:panel header="View Order">
<p:panelGrid  id="viewOrderPanel" coulmns="2" >


  <c:forEach items="#{searchOrder.viewedOrder.itemList}" var="itm">
            <p:row>
               <p:column>
               <h:outputText value="Item Id:"/>
    			 <h:outputText value="#{itm.itemId}"/>
    			
    			</p:column>
    			<p:column>
    			<h:outputText value="Item Name:"/>
    			 <h:outputText value="#{itm.itemName}"/>
    			
    			</p:column>

    			<p:column>
    			<h:outputText value="Item Price:"/>
    				  <h:outputText value="#{itm.itemPrice}"/>
    			</p:column>
				<p:column >
				<h:outputText value="Quantity:"/>
    				<h:outputText id="itemQuantity" value="#{itm.itemQuantity}"/>
    			</p:column>
    			<p:column >
				<h:outputText value="Item Status:"/>
    				<h:outputText id="itemStatus" value="#{itm.itemStatus}"/>
    			</p:column>
    			<p:column >
				<h:outputText value="Item Line Total"/>
    				<h:outputText id="itemLineTotal" value="#{itm.itemLineTotal}"/>
    			</p:column>
            </p:row>     
    			</c:forEach>

<p:row>
                 
<p:column>
                    <h:outputText value="Order Id:"/>
  <h:outputText value="#{searchOrder.viewedOrder.orderId}" />
</p:column>
 
 <p:column>

 <h:outputText value="Order Status:"/>
<h:outputText value="#{searchOrder.viewedOrder.orderStatus.orderStatusDesc}" />
 </p:column>
 <p:column>


<h:outputText value="Customer Name:"/>
<h:outputText value="#{searchOrder.viewedOrder.customer.person.firstName}" /><h:outputText value="        " /><h:outputText value="#{searchOrder.viewedOrder.customer.person.lastName}" />
</p:column>
 <p:column>
<h:outputText value="Hotel Name:"/>
<h:outputText value="#{searchOrder.viewedOrder.hotel.hotelName}" />
</p:column>
<p:column>

 
 <h:outputText value="Order Total:"/>
<h:outputText value="#{searchOrder.viewedOrder.orderTotal}" />
 </p:column>
</p:row>
                 
             
                 
   
</p:panelGrid>
</p:panel>
<!-- </p:dialog> -->
	</h:form>
</ui:define>
</ui:composition>
</h:body>
</html>