<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui"	
      xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>View Order</title>
</h:head>
<h:body>
<ui:composition template="/faces/layout.xhtml">
	<ui:define name="content">
<h:form id="placeorder">
 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />

<p:panelGrid columns="2">
	<p:dataTable id="orderTab" value="#{viewPlacedOrder.itemList}" var="itm"  selection="#{viewPlacedOrder.selectedItem}" rowSelectMode="checkbox" rowKey="#{itm.orderitemId}" >
        <f:facet name="header">
       <h:outputText value="Order Id:" />
		<h:outputText id="orderId" value="#{viewPlacedOrder.orderId}"></h:outputText>
	
			  <h:outputText value="Order Status:" />
		<h:outputText id="orderStatus" value="#{viewPlacedOrder.orderStatus}"/>
        </f:facet>
         <p:ajax event="rowSelect" listener="#{searchMenu.updateOrderItem}"></p:ajax>
              <p:column selectionMode="single" style="width:16px;text-align:center" />

    			<p:column headerText="Item Name">
    			 <h:outputText value="#{itm.itemName}"/>
    			
    			</p:column>

    			<p:column headerText="Item Price">
    				  <h:outputText value="#{itm.itemPrice}"/>
    			</p:column>
				<p:column headerText="Quantity">
    				<h:inputText id="itemQuantity" value="#{itm.itemQuantity}">
    				  <p:ajax listener="#{viewPlacedOrder.updateItem}"  update=":placeorder:orderTab"/>
    				</h:inputText>
    			</p:column>
    			<p:column headerText="Delete">
    				<p:commandButton  action="#{viewPlacedOrder.deleteItem}" value="Delete Item" update=":placeorder:orderTab"/>
    			</p:column>
   <f:facet name="footer">
    <h:outputText value="Order Total:" />
                <h:outputText id="orderTotal" value="#{viewPlacedOrder.orderTotal}"/>
    <p:commandButton process="orderTab" action="#{viewPlacedOrder.placeOrder}" value="Confirm order">
            
            </p:commandButton>
            
  
   </f:facet>.
    		</p:dataTable>
    		
        
    		 <p:outputPanel  >
        	
				    <h:outputLink value="viewConfirmOrder.xhtml" title="View Confirm Order" >
				        <h:outputText value="View Confirm Order" />
				    </h:outputLink>
        </p:outputPanel>
   
    		
</p:panelGrid>

    			</h:form>
</ui:define>
</ui:composition>
</h:body>
</html>