<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>View Order</title>
</h:head>
<h:body>
	<ui:composition template="/faces/layout.xhtml">
	<ui:define name="content">
<h:form id="order">
 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />

<p:panelGrid columns="2">
	<p:dataTable id="orderTab" value="#{viewOrder.itemList}" var="itm"  rows="5" paginator="true">
        <f:facet name="header">
       <h:outputText value="Order Id:" />
		<h:inputText id="orderId" value="#{viewOrder.orderId}"></h:inputText>
		<p:commandButton action="#{viewOrder.getOrder}"
			 update=":order:orderTab" process="orderTab" icon="ui-icon-search"></p:commandButton>
			  <h:outputText value="Order Status:" />
		<h:outputText id="orderStatus" value="#{viewOrder.orderStatus}"/>
        </f:facet>
        <p:column headerText="Item Id">
    			 <h:outputText value="#{itm.itemId}"/>
    			
    			</p:column>
    			<p:column headerText="Item Name">
    			 <h:outputText value="#{itm.itemName}"/>
    			
    			</p:column>

    			<p:column headerText="Item Price">
    				  <h:outputText value="#{itm.itemPrice}"/>
    			</p:column>
				<p:column headerText="Quantity">
    				<h:outputText id="itemQuantity" value="#{itm.itemQuantity}"/>
    			</p:column>
   <f:facet name="footer">
   <h:outputText value="Order Total:" />
                <h:outputText id="orderTotal" value="#{viewOrder.orderTotal}"/>
   </f:facet>.
    		</p:dataTable>
    		
        
    		
   
    		
</p:panelGrid>

    			</h:form>
</ui:define>
</ui:composition>
</h:body>
</html>